{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="container pt-5">
        {% if country is defined or total_price is defined %}
            <div class="mt-5 alert alert-info">
                {% if country is defined %}
                    <p>Country: {{ country.name }}</p>
                {% endif %}
                {% if total_price is defined %}
                    <p>Total price: {{ total_price }} EUR</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="pt-5">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
